extends ./layout.pug

block title
    title !{bloghome.getText("bloghome.headline")}

block body
    body.page
        - var maybeBloghomeImageUrl = image ? image.getView("main").url : ''
        - var illustrationUrl = maybeBloghomeImageUrl || ''

        div.home
            h1.blog-title !{bloghome.getText('bloghome.headline')}
            p.blog-description !{bloghome.getText('bloghome.description')}

        div.edito
            h2 Edito
            div.edito-meta
                div.edito-date !{general.getDate(bloghome, 'bloghome.edito_date')}
            div.edito-content !{bloghome.getStructuredText('bloghome.edito').asHtml()}

        div.blog-main
            div.articles-name Liste des articles
            for post in posts
                - var url = ctx.linkResolver(post)
                div.blog-post(data-wio-id=post.id)
                    h2
                        a(href=url)
                            != post.getHtml('post.title').replace(/<\/?h\d>/g, '') || 'Sans-titre'
                    p.blog-post-meta
                        span.created-at !{general.getDate(post, 'post.date')}
